.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 2rem;
  padding: 0;
}

.navbar__logo img {
  height: 6rem;
  margin: 0.5rem 0;
}