.contact-page {
  flex: 1;
  padding: var(--space-7) 0;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 419px) {
  .contact-page {
    padding: var(--space-6) 0;
  }
}