.navbar-container {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(158, 158, 158, 0.171);
}

.navbar-container .menu {
  position: absolute;
  top: 2.3rem;
  display: none;
  right: 2rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer;
}

.navbar-container .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: black;
  border-radius: 0.2rem;
}

.navbar-container .navlinks {
  display: none;
  list-style: none;
  align-items: center;
}

.navbar-container .navlinks.open {
  display: flex;
}

.navbar-container .navlinks .navlinks__item {
  margin: 0 1rem;
  font-weight: 700;
  font-size: large;
  text-decoration: none;
  color: hsl(244, 100%, 16%);
}

.navbar-container .navlinks .navlinks__item:hover {
  color: hsla(0, 1%, 64%, 0.74);
}

.navbar-container .navlinks .active {
  color: hsla(0, 1%, 64%, 0.74);
}

@media screen and (min-width: 641px) {
  .navbar-container .navlinks {
    display: flex;
  }
}

@media screen and (max-width: 640px) {
  .navbar-container {
    flex-direction: column;
    align-items: start;
  }

  .navbar-container .menu {
    display: flex;
  }

  .navbar-container .navlinks {
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: flex-start;
    gap: 1rem;
  }

  .navbar-container .navlinks .link {
    border: 1px solid rgb(201, 201, 201);
    background-color: rgb(209, 209, 208);
    width: 100%;
    border-radius: 0.4rem;
    padding: 0.5rem 0;
    text-align: center;
  }

  .navbar-container .navlinks .link:hover {
    background-color: hsla(0, 1%, 64%, 0.74);
  }
}

@media screen and (max-width: 419px) {
  .menu {
    height: 1.4rem !important;
  }

  .menu span {
    height: 0.3rem !important;
    width: 90% !important;
  }
}